@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:wght@400;700&display=swap');

:root{
    --color-primary: #072C39;
    --color-secundary: #299F23;
    --color-terciary: #7CB930;
    --color-background: #0045171a;
    --color-white: #fff;
    --color-black: #000;
    --color-text: #939393;
    --color-text-secundary: #004517;
    --color-entrar: #FEE2D0;
    --color-validacao: #e92e2e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: var(--color-text);
}

body{
    background-color: var(--color-background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fundo{
    background-image: url('../assets/img_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.tela_entrar{
    height: 70vh;
    width: 80vw;
    background-color: var(--color-entrar);
    border-radius: 2.5em;
    display: grid;
    grid-template: 
    '. logo .' .3fr
    '. . .' .1fr
    '. btn_login .' .1fr
    '. btn_cadastrar .' .1fr
    / .3fr .3fr .3fr;
    place-content: center;
    place-items: center;
}

a{
    text-decoration: none;
    font-size: .8em;
}

h1, h2{
    font-family: 'Kodchasan';
}

.img_logo{
    width: 12em;
}

.img_container, .img_container_login{
    grid-area: logo;
    width: 12em;
    position: relative;
}

.img_container::after, .img_container_login::after{
    font-family: 'Kodchasan';
    content: attr(data-titulo);
    position: absolute;
    left: -.1em;
    bottom: -1.5em;
    color: var(--color-secundary);
    font-size: 2em;
    width: 12em;
    font-weight: bold;
}

.img_container_login::after{
    width: 7em;
}

.link_login{
    width: 9em;
    grid-area: btn_login;
    border: none;
    background-color: var(--color-white);
    color: var(--color-text-secundary);
    border-color: black;
    border-radius: .5em;
    width: 9em;
    height: 2.5em;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.link_login:hover{
    background-color: #e1e1e1;
    color: black;
}

.link_cadastrar{
    width: 9em;
    grid-area: btn_cadastrar;
    border: none;
    background-color: var(--color-white);
    color: var(--color-text-secundary);
    border-color: black;
    border-radius: .5em;
    width: 9em;
    height: 2.5em;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.link_cadastrar:hover{
    background-color: #e1e1e1;
    color: black;
}

.link_cadastrar{
    grid-area: btn_cadastrar;
}

@media (min-width: 992px) {
    .fundo_entrar{
        padding: 15vh 0 0;
    }

    .tela_entrar{
        grid-template: 
    '. . . .'  1fr
    '. logo btn_login .'  1fr
    '. logo btn_cadastrar .'  1fr
    '. . . .'  1fr
    / .25fr .25fr .25fr .25fr;
    }

    .img_logo{
        width: 20em;
    }
}

.t_field{
    margin: 8px !important;
    width: 25ch !important;
}

.termos_de_uso{
    width: 25ch;
    margin: 8px 0 16px;
}

.titulo_config{
    color: var(--color-primary);
    font-weight: bold;
}

.img_cadastrar{
    cursor: pointer;
}

.btn_voltar{
    width: 4em;
    height: 4em;
    border: none;
    border-radius: 1em;
    position: absolute;
    top: 2em;
    left: 2em;
}

.btn_voltar i{
    font-size: 2em;
    color: var(--color-black);
}

.validacao{
    color: var(--color-validacao);
    font-size: .8em;
    display: none;
}
