/* GERAL */

@import url('./global.css');

/* Largura (mudar so width) */
::-webkit-scrollbar {
    width: 0.8em;
    height: 0;
}
      
/* Cor de fundo */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
       
/* Cor da barra */
::-webkit-scrollbar-thumb {
    background: #888; 
}
      
/* Cor da barra quando mouse ta em cima */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.navegacao{
    height: 10vh;
    width: 100vw;
    background-color: var(--color-primary);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.navIcon{
    color: var(--color-white);
    font-size: 1.5em;
}

.navIconFocus{
    color: var(--color-secundary);
}

.btn_acao{
    border: none;
    background-color: var(--color-btn);
    color: var(--color-white);
    border-radius: .5em;
    width: 10em;
    height: 2.5em;
    align-self: center;
}

.btn_acao:hover{
    background-color: var(--color-btn-hover);
    transition: .5s;
}

.btn_acao:disabled {
    background-color: var(--color-btn-disabled);
}

.btn_menu{
    border: none;
    letter-spacing: 2px;
}

.btn_menu i {
    color: var(--color-btn);
}

.btn_menu_mobile {
    background-color: transparent;
    font-size: 2rem;
}

.btn_menu_posicao, .btn_menu_posicao_mobile, .config_conta, .config_sair{
    position: absolute;
    z-index: 2;
}

.btn_menu_posicao_mobile{
    top: .8rem;
    right: 1rem;
}

.btn_menu_desktop {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.btn_menu_posicao{
    top: 1rem;
    right: 2rem;
}

.modal_config {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-modal);
    backdrop-filter: blur(20px);
}

.config_conta {
    top: 6rem;
    right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.config_sair {
    top: 10rem;
    right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.config_cadastrar {
    background-color: var(--color-background);
    color: var(--color-primary);
}

.config_cadastrar i {
    color: var(--color-primary);
}

.config_cadastrar:hover {
    background-color: var(--color-cadastrar);
    color: var(--color-primary);
    opacity: .8;
}

.modal_F_container {
    height: 30vh;
    width: 16rem;
    position: absolute;
    right: 0;
    top: 0;
}

.modal_entrar {
    z-index: 1;
    padding: 100px 0;
    right: 0;
    top: 0;
    overflow: auto;
    background-color: var(--color-modal);
    backdrop-filter: blur(20px);
}

/* PERFIL */

.caixaPerfil{
    height: 30vh;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template:
    'user_img user_usuario menu' .33fr
    'user_img user_nome menu' .33fr
    '. btn_postar .' .33fr
    / 1fr 1fr 1fr
    ;
    place-items: center;
}

.caixaPerfil .user_img_container{
    grid-area: user_img;
}

.user_img_container {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;
}

.caixaPerfil h2{
    color: var(--color-white);
    font-size: 1.7rem;
    margin: 0;
    grid-area: user_nome;
    align-self: center;
    text-align: center;
    margin-top: -20px;

}

.caixaPerfil p{
    color: var(--color-white);
    font-size: 2rem;
    grid-area: user_usuario;
    margin-bottom: 0;
    align-self: end;
    text-align: end;
}

.caixaPerfil .btn_postar {
    grid-area: btn_postar;
}

.modal {
    position: fixed;
    z-index: 3;
    padding: 100px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-modal);
    backdrop-filter: blur(20px);
}

.modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border: none;
    width: 80%;
    row-gap: 1em;
}

.modal-content fieldset{
    padding: .5em 0;
}

.modal-content label {
    display: block;
    font-size: 1em;
    color: var(--color-white);
}

.img_placeholder_publicar {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: var(--color-img-modal);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.img_placeholder_publicar p {
    color: var(--color-btn);
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content :is(.img_placeholder_publicar, .field_verde) i {
    color: var(--color-btn);
    position: absolute;
    right: .5em;
}

.modal-content .img_placeholder_publicar i {
    font-size: 2.5rem;
    bottom: 7%;
    left: 43.5%;
}

.modal-content .field_categoria{
    background-color: var(--color-primary);
    border-radius: .7em;
    margin: 0 auto;
    width: 15rem;
}

.modal-content .field_categoria label {
    display: inline;
    margin-right: 1em;
}

.modal-content .input_categoria_wrapper {
    position: relative;
}

.modal-content .input_categoria_wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 0;
    right: .15rem;
    position: absolute;
}

.modal-content .input_categoria {
    border: none;
    border-radius: .3em;
    padding: .2em .5em;
}

.modal-content .field_verde {
    background-color: var(--color-primary);
    border-radius: .7em;
    box-sizing: content-box;
    padding-bottom: 1em;
    position: relative;
}

.modal-content .field_verde label{
    margin: 0 1em;
}

.modal-content textarea {
    width: 100%;
    border: none;
    border-radius: .5em;
    word-wrap: break-word;
    word-break: break-word;
    resize: none;
}

.modal-content textarea[name="legenda"] {
    height: 4em;
}

.modal-content .field_verde i {
    bottom: 1.5em;
}

.modal-content textarea[name="receita"] {
    height: 12em;
}

:is(.perfil_cards, .feed_cards) {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
    padding-bottom: 15vh;
}

.perfil_cards {
    top: 30vh;
}

.feed_cards {
    top: 10vh;
}

.feed_card{
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

.post_receita{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.feed_card img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px var(--color-black) solid;
    object-fit: cover;
}

:is(.perfil_cards, .feed_cards) :nth-child(even){
    transform: translateY(55%);
}

/* USER FEED */

.caixaTitulo{
    width: 100vw;
    height: 8vh;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1em 0;
}

.caixaTitulo h1{
    text-align: start;
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: 2px;
    margin-left: 1em;
}

.logo_sem_sessao {
    width: 16rem;
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: -1.5rem;
}

.logo_sem_sessao span {
    font-family: 'Kodchasan';
    color: var(--color-white);
    font-size: 1.2rem;
}

.cor_fundo{
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
}

.post_cards{
    width: 100%;
    min-height: 70vh;
    background-color: transparent;
    margin-top: 12vh;
    column-gap: 2em;
}

.post_card {
    width: 100%;
    height: 70%;
    margin-bottom: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    grid-template-areas:
    'user_img user_usuario user_usuario icon_receita'
    'post_img post_img post_img post_img'
    'post_img post_img post_img post_img'
    'post_img post_img post_img post_img'
    'post_img post_img post_img post_img';
}

.post_card .user_img {
    grid-area: user_img;
    width: 5em;
}

.post_card .user_usuario {
    grid-area: user_usuario;
    justify-self: start;
    margin: 0;
    color: var(--color-white);
    font-size: 1rem;
}

.icon_receita{
    grid-area: icon_receita;
    width: 2.5em;
}

.post_card div{
    width: 250px;
    grid-area: post_img;
    overflow: hidden;
    border-radius: 100%;
}

.post_card .post_img {
    width: 100%;
    border-radius: 100%;
    border: 5px var(--color-black) solid;
    object-fit: cover;
}

.modal_receita {
    height: 70%;
    width: 80%;
    border-radius: 1.5em;
    background-color: var(--color-background);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    overflow-y: auto;
}

.modal_receita :is(h3, p) {
    color: var(--color-white);
}

.modal_receita img {
    width: 5em;
}

.modal_receita p {
    margin-bottom: 0;
}

/* PESQUISA */
.pesquisa {
    width: 100vw;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
}

.pesquisa :is(input, button) {
    border: none;
    background-color: var(--color-btn);
}

.pesquisa input {
    width: 90%;
    position: relative;
    border-radius: .5em;
}

.pesquisa input::before {
    content: '\F52A';
    position: absolute;
    left: 1em;
    color: var(--color-white);
    font-size: 1em;
    width: 1em;
    font-weight: bold;
}

.pesquisa input::placeholder {
    color: var(--color-white);
    padding-left: 1.2em;
}

.pesquisa button {
    color: var(--color-white);
    width: 8em;
    font-size: .8rem;
    border-radius: 1em;
}

/* MINHA CONTA */
.text_white {
    color: var(--color-white);
}

.btn_excluir{
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: .5em;
    width: 8em;
    height: 2.5em;
    align-self: center;
}

.btn_excluir:hover{
    background-color: var(--color-btn-disabled);
    transition: .5s;
}

/* SEGUINDO */
.seguindo--nao {
    margin-top: 5rem;
}

.seguindo--nao h2 {
    /* font-size: 1.2rem; */
    color: var(--color-white);
}

@media (min-width: 576px) {
    /* PERFIL */
    .img_placeholder_publicar {
        height: 400px;
        width: 400px;
    }

    .modal-content .img_placeholder_publicar i {
        font-size: 2.5rem;
        bottom: 25%;
        left: 46%;
    }

    .post_receita{
        width: 275px;
        height: 275px;
    }

    /* USER-FEED */
    .post_card div{
        width: 400px;
    }
}

@media (min-width: 768px) {
    /* PERFIL */
    .img_placeholder_publicar {
        height: 500px;
        width: 500px;
    }

    .modal_receita {
        width: 60%;
    }

    .modal-content .img_placeholder_publicar i {
        font-size: 2.5rem;
        bottom: 28%;
        left: 46%;
    }
}

@media (min-width: 992px) {
    /* PERFIL */
    .modal-content textarea[name="legenda"] {
        height: 3em;
    }

    .modal-content textarea[name="receita"] {
        height: 9em;
    }
}

@media (min-width: 992px) {
    .modal_entrar {
        background-color: transparent;
        backdrop-filter: none;
    }
    
    /* PERFIL */

    .navegacao{
        width: 10vw !important;
        height: 100vh;
    }

    .navegacao div{
        height: 100vh;
    }

    .navIcon{
    cursor: pointer;
    font-size: 1.3em;
    }

    .caixaPerfil{
        background-color: transparent;
        grid-template:
        '. . . . menu' .25fr
        '. user_img user_usuario btn_postar .' .25fr
        '. user_img user_nome btn_postar .' .25fr
        '. . . . .' .25fr
        / 1fr 1fr 1fr 1fr 1fr
        ;
        border-bottom: var(--color-dots) 2px solid
    }

    .caixaPerfil .user_img{
        height: 100%;
    }

    :is(.perfil_cards, .feed_cards){
        width: 75vw;
        left: 15%;
        row-gap: 100px;
    }

    .feed_card{
        width: 30%;
        height: 30%;
    }

    :is(.perfil_cards, .feed_cards) :nth-child(even){
        transform: translateY(0);
    }

    :is(.perfil_cards, .feed_cards) :nth-child(3n + 2){
        transform: translateY(80%);
    }

    :is(.perfil_cards, .feed_cards) :last-child{
        transform: translateY(0);
    }

    .post_receita{
        width: 220px;
        height: 220px;
    }

    /* USER FEED */

    .cor_fundo{
        width: 50vw;
        height: 92vh;
        top: 4vh;
    }

    .post_cards{
        margin-top: 6vh;
    }

    .modal_receita {
        width: 40%;
    }
}

@media (min-width: 1300px) {
    .navIcon {
        font-size: 1.5em;
    }

    .modal_receita {
        width: 30%;
    }

    .post_receita{
        width: 290px;
        height: 290px;
    }
}
