/* GERAL */

@import url('./global.css');

/* PERFIL */

.navegacao{
    height: 10vh;
    background-color: var(--new-color-primary);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.navIcon{
    color: var(--color-white);
    font-size: 1.3em;
}

.navIconFocus{
    color: var(--color-secundary);
}

.perfil{
    display: none;
}

.barraTitulo{
    color: var(--color-secundary);
    background-color: var(--color-secundary);
    border: none;
    height: .25em;
    width: 100vw;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
}

.caixaTitulo{
    width: 100vw;
    height: 8vh;
    background-color: var(--new-color-primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1em 0;
}

.caixaTitulo h1{
    text-align: start;
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: 2px;
    margin-left: 1em;
}

.btn_sair{
    border: none;
    background-color: var(--color-white);
    color: var(--color-text-secundary);
    border-color: black;
    border-radius: .5em;
    width: 5em;
    height: 2.5em;
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: 2;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.btn_sair:hover{
    background-color: #e1e1e1;
    color: black;
    transition: .5s;
}

.caixaPerfil{
    height: 30vh;
    background-color: var(--new-color-primary);
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template:
    'user_img user_nome menu' .33fr
    'user_img user_usuario menu' .33fr
    '. btn_postar .' .33fr
    / 1fr 1fr 1fr
    ;
    place-items: center;
}

.caixaPerfil .user_img{
    /* height: 7rem; */
    grid-area: user_img;
}

.caixaPerfil h2{
    color: var(--color-white);
    font-size: 2rem;
    margin: 0;
    grid-area: user_nome;
    align-self: end;
}

.caixaPerfil p{
    color: var(--color-white);
    font-size: 1rem;
    grid-area: user_usuario;
}

.caixaPerfil .btn_postar {
    grid-area: btn_postar;
}

.btn_acao{
    border: none;
    background-color: var(--new-color-btn);
    color: var(--color-white);
    border-radius: .5em;
    width: 10em;
    height: 2.5em;
    align-self: center;
}

.btn_acao:hover{
    background-color: rgb(124, 185, 48, 0.6);
    color: black;
    transition: .5s;
}

.btn_menu{
    border: none;
    grid-area: menu;
}

.btn_menu_mobile {
    background-color: transparent;
    font-size: 2rem;
}

.btn_menu i {
    color: var(--new-color-btn);
}

@media (min-width: 992px) {
    .caixaPerfil{
        background-color: transparent;
        grid-template:
        '. . . . menu' .25fr
        '. user_img user_nome btn_postar .' .25fr
        '. user_img user_usuario btn_postar .' .25fr
        '. . . . .' .25fr
        / 1fr 1fr 1fr 1fr 1fr
        ;
    }
}

/* USER FEED */

.cor_fundo{
    width: 100vw;
    height: 90vh;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    overflow: scroll;
}

/* Largura (mudar so width) */
::-webkit-scrollbar {
    width: 0.8em;
    height: 0;
}
      
/* Cor de fundo */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
       
/* Cor da barra */
::-webkit-scrollbar-thumb {
    background: #888; 
}
      
/* Cor da barra quando mouse ta em cima */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.post_cards{
    width: 100%;
    min-height: 70vh;
    background-color: transparent;
    margin-top: 12vh;
}

.post_card{
    width: 100%;
    height: 70vh;
    background-color: var(--color-white);
    margin-bottom: 8vh;
    display: grid;
    grid-template-areas: 
        'user_img user_usuario . . icon_receita'
        'post_img post_img post_img post_img post_img'
        'post_img post_img post_img post_img post_img'
        'post_img post_img post_img post_img post_img'
        'post_img post_img post_img post_img post_img'
        'icon_curtir icon_comentario . . .';
    grid-template-rows: .2f .2f .2f .2f .2f;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
}

.post_card .user_img{
    grid-area: user_img;
    width: 5em;
}

.user_usuario{
    grid-area: user_usuario;
    justify-self: start;
    margin: 0;
    color: var(--color-secundary);
    font-size: 1rem;
}

.icon_receita{
    grid-area: icon_receita;
}

.icon_receita{
    width: 2.5em;
}

.icon_curtir, .icon_comentario{
    width: 1em;
    font-size: 2em;
    color: var(--color-secundary);
    text-align: center;
    margin-bottom: 10px;
}

.post_img{
    width: 100%;
    height: 50vh;
    grid-area: post_img;
    overflow: hidden;
}

.post_img img{
    width: 100%;
}

.icon_curtir{
    grid-area: icon_curtir;
}

.icon_comentario{
    grid-area: icon_comentario;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding: 100px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-primary);
    background-color: var(--color-modal);
}

.modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border: none;
    width: 80%;
    row-gap: 1em;
}

.modal-content .field_categoria{
    background-color: var(--color-terciary);
    border-radius: .7em;
    align-self: center;
}

.modal-content fieldset{
    padding: .5em 0;
}

.modal-content .field_categoria label {
    display: inline;
    margin-right: 1em;
}

.modal-content .input_categoria {
    border: none;
    border-radius: .3em;
    padding: .2em .5em;
}

.modal-content .input_categoria_wrapper {
    position: relative;
}

.modal-content .input_categoria_wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 0;
    right: .15rem;
    position: absolute;
}

.modal-content .field_verde {
    background-color: var(--color-terciary);
    border-radius: .7em;
    box-sizing: content-box;
    padding-bottom: 1em;
}

.modal-content .field_verde label{
    margin: 0 1em;
}

.modal-content label {
    display: block;
    font-size: 1em;
    color: var(--color-white);
}

.modal-content textarea {
    width: 100%;
    border: none;
    border-radius: .5em;
    word-wrap: break-word;
    word-break: break-word;
    resize: none;
}

.modal-content textarea[name="legenda"] {
    height: 4em;
}

.modal-content textarea[name="receita"] {
    height: 12em;
}

.fechar_modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar_modal:hover,
.fechar_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.feed_cards{
    position: absolute;
    top: 30vh;
    left: 0;
    height: 60vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
}

.feed_card{
    height: 100%;
    width: 100%;
}

.feed_card div{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.feed_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_placeholder_publicar {
    height: 250px;
    width: 250px;
    border-radius: 1.5em;
    background-color: var(--color-img-modal);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@media (min-width: 576px) {
    .img_placeholder_publicar {
        height: 400px;
        width: 400px;
    }
}

@media (min-width: 768px) {
    .img_placeholder_publicar {
        height: 500px;
        width: 500px;
    }
}

@media (min-width: 992px) {
    .modal-content textarea[name="legenda"] {
        height: 3em;
    }

    .modal-content textarea[name="receita"] {
        height: 9em;
    }
}

@media (min-width: 992px) {
    /* PERFIL */

    .navegacao{
        width: 10vw !important;
        height: 100vh;
    }

    .navegacao div{
        height: 100vh;
    }

    .navIcon{
    cursor: pointer;
    font-size: 1.8em;
    }

    .perfil{
        display: block;
    }

    .barraTitulo, .caixaTitulo{
        width: 50vw;
        left: 25%;
    }
   
    .caixaTitulo h1{
        text-align: center;
        margin-left: 0;
    }

    .feed_cards{
        width: 50vw !important;
        left: 25%;
        top: 40vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 12.5vw;
    }

    .feed_card{
        width: 12.5vw;
        height: 12.5vw;
    }

    .caixaPerfil .user_img{
        height: 8rem;
    }

    /* USER FEED */

    .cor_fundo{
        background-color: transparent;
        width: 50vw;
        height: 92vh;
        top: 4vh;
    }

    .post_cards{
        margin-top: 6vh;
    }
}
