.fundo_entrar{
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/assets/img_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8vh 0 0;
}

.tela_entrar{
    height: 70vh;
    width: 80vw;
    background-color: var(--color-entrar);
    margin: 0 auto;
    border-radius: 2.5em;
    display: grid;
    grid-template: 
    '. logo .' .3fr
    '. . .' .1fr
    '. btn_login .' .1fr
    '. btn_cadastrar .' .1fr
    / .3fr .3fr .3fr;
    place-content: center;
    place-items: center;
}

.img_container{
    grid-area: logo;
    width: 12em;
    position: relative;
}

#img_logo{
    width: 100%;
}

.img_container::after{
    font-family: 'Kodchasan';
    content: attr(data-titulo);
    position: absolute;
    left: 0;
    bottom: -.8em;
    color: var(--color-text-secundary);
    font-size: 2em;
    width: 12em;
    font-weight: bold;
}

.entrar_titulo{
    color: var(--color-primary);
    grid-area: titulo;
}

#link_login{
    grid-area: btn_login;
}

#link_cadastrar{
    grid-area: btn_cadastrar;
}

@media (min-width: 992px) {
    .fundo_entrar{
        padding: 15vh 0 0;
    }

    .tela_entrar{
        grid-template: 
    '. . . .'  1fr
    '. logo btn_login .'  1fr
    '. logo btn_cadastrar .'  1fr
    '. . . .'  1fr
    / .25fr .25fr .25fr .25fr;
    }

    .img_container{
        width: 20em;
    }

    .img_container::after{
        left: 1.5em;
    }
}
