.fundo_entrar{
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/assets/img_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8vh 0 0;
}

.tela_entrar{
    height: 70vh;
    width: 80vw;
    background-color: var(--color-entrar);
    margin: 0 auto;
    border-radius: 2.5em;
    display: grid;
    grid-template: 
    '. logo .' .3fr
    '. . .' .1fr
    '. btn_login .' .1fr
    '. btn_cadastrar .' .1fr
    / .3fr .3fr .3fr;
    place-content: center;
    place-items: center;
}

#img_logo{
    grid-area: logo;
    width: 12em;
}

#btn_login{
    grid-area: btn_login;
}

#btn_cadastrar{
    grid-area: btn_cadastrar;
}

@media (min-width: 992px) {
    .fundo_entrar{
        padding: 15vh 0 0;
    }

    .tela_entrar{
        grid-template: 
    '. . . .'  1fr
    '. logo btn_login .'  1fr
    '. logo btn_cadastrar .'  1fr
    '. . . .'  1fr
    / .25fr .25fr .25fr .25fr;
    }
}
