.tela_cadastrar{
    height: 60vh;
}

.titulo_config{
    color: var(--color-primary);
    font-weight: bold;
}

.img_cadastrar{
    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: .8em;
}
