@use '../__index' as *;

.btn_acao{
    border: none;
    background-color: $color-black;
    color: $color-white;
    border-radius: .5em;
    width: 10em;
    height: 2.5em;
}

.btn_acao:hover{
    background-color: $color-btn-hover;
    transition: .5s;
}

.btn_acao:disabled {
    background-color: $color-btn-hover;
}
