@use '../__index' as *;

.navegacao{
    height: 10vh;
    width: 100vw;
    color: $color-black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-top: 1px solid $color-black;

    nav{
        :is(i, p){
            color: $color-black;
            font-size: 1.5rem;
        }

        button{
            border: none;
            background-color: transparent;
        }
    }

    @media (min-width: 992px) {
        width: 25vw;
        height: 100vh;
        border-top: none;
        border-right: 1px solid $color-black;

        .nav_logo{
            img{
                width: 3rem;
            }

            h2{
                font-size: 1.6rem;
                color: $color-black;
            }
        }
    }
}
